@{
    ViewData["Title"] = "Useful Links";
}
<h1>@ViewData["Title"]</h1>

<p>Here are some useful links to maintain your health</p>

<p><a href="https://www.nih.gov/health-information">General Health Information</a></p>
<p><a href="https://www.healthline.com/nutrition/27-health-and-nutrition-tips">Tips for a Healthier You!</a></p>
