@{
    ViewData["Title"] = "Choices";
}
<h1>@ViewData["Title"]</h1>

<p>You are provided with a way to find your physician and pharmacy below.</p>
    
<p><a href="https://doctor.webmd.com/">Find Your Physician</a></p>
<p><a href="https://www.communitycaresrx.com/clients/communitycares/pharmacylocator.aspx">Find Your Pharmacy</a></p>
